<section id="register">
  <div class="bwm-form">
    <div class="row">
      <div class="col-md-5">
        <h1 class="page-title">Register</h1>
        <form #registerForm="ngForm">
          <div class="form-group">
            <label for="username">Username</label>
            <input type="text"
                   class="form-control"
                   id="username"
                   [(ngModel)]="formData.username"
                   name="username"
                   #username="ngModel"
                   minlength="4"
                   required>
          </div>
          <div *ngIf="username.invalid && (username.dirty || username.touched)"
          class="alert alert-danger">
            Name is required.
          </div>
          

          <div class="form-group">
            <label for="email">Email</label>
            <input type="email"
                   class="form-control"
                   [(ngModel)]="formData.email"
                   name="email"
                   id="email"
                   #email="ngModel"
                   required>
          </div>
          <div *ngIf="email.invalid && (email.dirty || email.touched)"
          class="alert alert-danger">
            email is required.
          </div>

          <div class="form-group">
            <label for="password">Password</label>
            <input type="password"
                   class="form-control"
                   [(ngModel)]="formData.password"
                   name="password"
                   id="password"
                   required>
          </div>

          <div class="form-group">
            <label for="passwordConfirmation">Confirm Password</label>
            <input type="password"
                   class="form-control"
                   [(ngModel)]="formData.passwordConfirmation"
                   name="passwordConfirmation"
                   id="passwordConfirmation"
                   required>
          </div>
          <button [disabled]="!registerForm.form.valid" (click)="register()" type="submit" class="btn btn-bwm">Submit</button>
        </form>
      </div>
      <div class="col-md-6 ml-auto">
        <div class="image-container">
          <h2 class="catchphrase">As our member you have access to most awesome places in the world.</h2>
          <img src="assets/images/register-image.jpg" alt="">
        </div>
      </div>
    </div>
  </div>
</section>
